@model List<Application>
<div class="box-container">
    <div class="box">
        <h3 class="job-title">Applied Jobs : </h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="Jobs" asp-action="GetJob" asp-route-id="@item.JobId" class="btn">Go to job details</a>
                </li>
            }
        </ul>
    </div>
</div>