@model Job
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <form method="post" asp-controller="Jobs" asp-action="ApplyJob">
        <input type="hidden" asp-for="JobId" value="@Model.JobId"/>

        <input type="submit" value="apply now" class="btn"></input>
        <!-- bunu yapabilmesi için giriş yapmış olması lazım -->
        <a asp-controller="Jobs" asp-action="Offer" asp-route-id="@Model.JobId" class="btn">offer</a>
    </form>
}
else if(User.IsInRole("Employer"))
{
    
}
else
{
    <p class="display-6 text-center">If you want to Apply, <a asp-controller="Login" asp-action="Login">log in now</a></p>

}
