@model UserWithApplicationsViewModel
<div class="section-title"> Account</div>
<section class="about">
    <div class="box">
        <p></p>
        <h3 class="surname">Username : @Model.User.UserName</h3>
        <p></p>
        <h3 class="email">email : @Model.User.Email</h3>
        <p></p>
        <a href="#" class="btn">Change</a>
    </div>
    @{
        await Html.RenderPartialAsync("_AppliedJobs", Model);
    }
</section>
