@model IdentityUser
<div class="section-title"> Account</div>
<section class="about">
    <div class="box">
        <p></p>
        <h3 class="surname">Username : @Model.UserName</h3>
        <p></p>
        <h3 class="email">email : @Model.Email</h3>
        <p></p>
        <a href="#" class="btn">Change</a>
    </div>
    <partial name="_AppliedJobs"></partial>
</section>
