<!-- login section begins -->
<div class="account-form-container">

    <section class="account-form">

        <form action="" method="post">

            <h3>welcome back</h3>
            <div class="box">
                <select name="role" required class="input">
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                </select>
            </div>
            <div class="box">
                <input type="email" required name="email" maxlength="50" placeholder="please enter your email"
                    class="input">
            </div>
            <div class="box">
                <input type="password" required name="pass" maxlength="50" placeholder="please enter your password"
                    class="input">
            </div>

            <p>don't have an account <a asp-controller="Login" asp-action="Register">register now</a></p>
            <input type="submit" value="login now" name="submit" class="btn">

        </form>
    </section>
</div>