<!-- register section starts -->
@model RegisterDto
<div class="account-form-container">

    <section class="account-form">

        <form asp-action="Register" method="post">

            <h3>create new account</h3>
            <div class="box">
                <select asp-for="Role" required class="input">
                    <option value="Employer">Employer</option>
                    <option value="User">User</option>
                </select>
            </div>
            <input type="text" required asp-for="UserName" maxlength="50" placeholder="please enter username"
                class="input">
            <input type="email" required asp-for="Email" maxlength="50" placeholder="please enter your email"
                class="input">
            <input type="password" required asp-for="Password" maxlength="20" placeholder="please enter your password"
                class="input">
        <!-- 
               <input type="password" required name="c_pass" maxlength="20" placeholder="confirm your password"
                    class="input"> 
         -->
            <p>already have an account <a asp-controller="Login" asp-action="Login">login now</a></p>
            <input type="submit" value="register now" name="submit" class="btn">
        </form>
    </section>
</div>
