
    <!--about us section starts-->

    <div class="section-title"> About us</div>

    <section class="about">

        <img src="images/applynow2.jpg" alt="">
        <div class="box">
            <h3>why choose us?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus at fuga accusantium deleniti hic?
                Praesentium, porro vitae quis nobis modi, ex debitis quod voluptatum, expedita officiis corporis optio
                obcaecati reprehenderit!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos mollitia error cumque nam dolores
                nesciunt doloremque harum, tempore reiciendis rerum ut ad, ex quidem odio assumenda. Natus obcaecati
                recusandae nulla ea? Quod excepturi, provident officiis laborum vitae magnam harum quam adipisci optio
                reprehenderit eveniet consequuntur labore suscipit recusandae, quia incidunt?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur accusamus harum repellat velit
                similique in, itaque nostrum fugit cumque temporibus vitae distinctio placeat laborum, corrupti
                reiciendis aperiam. Eveniet, accusantium exercitationem.</p>
            <a href="contact.html" class="btn">contact us</a>
        </div>
    </section>



    <!--about us section ends-->

    <!--review section starts-->

    <div class="section-title">top reviews</div>

    <section class="reviews">

        <div class="box-container">

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3 class="title">amazing results</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam hic dignissimos ullam ab in
                    aut placeat? Placeat, fugit molestias
                </p>
                <div class="user">
                    <img src="images/sariye.jpeg" alt="">
                    <div>
                        <h3>sariye yaman</h3>
                        <span>data analyst</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3 class="title">easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat aperiam hic dignissimos ullam ab in
                    aut placeat? Placeat, fugit molestias.</p>
                <div class="user">
                    <img src="images/koçer.jpg" alt="">
                    <div>
                        <h3>taha koçer</h3>
                        <span>software developer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3 class="title">facinating</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet nulla iure rem ut optio blanditiis
                    ipsum cum, officiis mollitia est.</p>
                <div class="user">
                    <img src="images/zeynep.jpeg" alt=""><!--userpic-->
                    <div>
                        <h3>zeynep baran</h3>
                        <span>app developer</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
