<!-- offer section starts -->

<section class="offer">

    <h1 class="heading">
        offer
    </h1>

    <form action="" method="post">
        <div class="flex">
            <div class="box">
                <p>Price<span>*</span></p>
                <input type="number" name="price" placeholder="offered price" required maxlength="20" min="0"
                    class="input">
            </div>
            <div class="box">
                <p>Time <span>*</span></p>
                <input type="number" name="time" placeholder="offered deadline" required maxlength="20" min="0"
                    class="input">
            </div>
        </div>
    </form>
    <input type="submit" value="send offer" name="send" class="btn" style="align-items: center;">
</section>

<!-- offer section ends -->