<!-- post job section starts -->

<div class="section-title">Post job</div>

<section class="post-job">
    <form action="" method="post">
        <h3>Post your job</h3>
        <div class="flex">
            <div class="box">
                <p>company<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="company name" class="input">
            </div>
            <div class="box">
                <p>job title<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="offered role" class="input">
            </div>
            <div class="box">
                <p>location<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="location" class="input">
            </div>
            <div class="box">
                <p>education<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="education" class="input">
            </div>
            <div class="box">
                <p>experience<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="experience" class="input">
            </div>
            <div class="box">
                <p>shift type<span>*</span></p>
                <input type="text" name="name" required maxlength="20" placeholder="day/night" class="input">
            </div>
            <div class="box">
                <p>number of candidate <span>*</span></p>
                <input type="number" name="name" required maxlength="50" placeholder="location" class="input">
            </div>
            <div class="box">
                <p>requirements <span>*</span></p>
                <input type="text" name="requirements" required maxlength="20" placeholder="expected requirements"
                    class="input">
            </div>
            <div class="box">
                <p>skills <span>*</span></p>
                <input type="text" maxlength="50" placeholder="expected skills" class="input">
            </div>
            <div class="box">
                <p>salary<span>*</span></p>
                <input type="number" name="salary" class="input" required min="0" max="9999999999" maxlength="20"
                    placeholder="enter your salary offer">

            </div>
        </div>
        <p>Job/Project Description <span>*</span></p>
        <textarea name="description" required maxlength="1000" cols="30" rows="10"
            placeholder="enter your project/jobs description" class="input"></textarea>
        <input type="submit" value="send job" name="send" class="btn">
    </form>
</section>