<!-- post job section starts -->
@model Job
<div class="section-title">Post job</div>

<section class="post-job">
    <form asp-controller="Jobs" asp-action="PostJob" method="post">
        <h3>Post your job</h3>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="flex">
            <div class="box">
                <p>company<span>*</span></p>
                <input asp-for="CompanyName" placeholder="company name" class="input">
            </div>
            <div class="box">
                <p>job title<span>*</span></p>
                <input type="text" asp-for="JobTitle" placeholder="job title" class="input">
            </div>
            <div class="box">
                <p>location<span>*</span></p>
                <input type="text" asp-for="Location" required maxlength="20" placeholder="location" class="input">
            </div>
            <div class="box">
                <p>education<span>*</span></p>
                <input type="text" asp-for="Education" required maxlength="20" placeholder="education" class="input">
            </div>
            <div class="box">
                <p>experience<span>*</span></p>
                <input type="text" asp-for="Experience" required maxlength="20" placeholder="experience" class="input">
            </div>
            <div class="box">
                <p>shift type<span>*</span></p>
                <input type="text" asp-for="ShiftType" required maxlength="20" placeholder="day/night" class="input">
            </div>
            <div class="box">
                <p>number of candidate <span>*</span></p>
                <input type="number" asp-for="NumberOfVacancies" required maxlength="50" placeholder="location"
                    class="input">
            </div>
            <div class="box">
                <p>requirements <span>*</span></p>
                <input type="text" asp-for="Requirements" required maxlength="20" placeholder="expected requirements"
                    class="input">
            </div>
            <div class="box">
                <p>skills <span>*</span></p>
                <input type="text" asp-for="Skills" maxlength="50" placeholder="expected skills" class="input">
            </div>
            <div class="box">
                <p>salary<span>*</span></p>
                <input type="number" asp-for="SalaryRange" class="input" required min="0" max="9999999999"
                    maxlength="20" placeholder="enter your salary offer">

            </div>
        </div>
        <p>Job/Project Description <span>*</span></p>
        <textarea asp-for="Description" required maxlength="1000" cols="30" rows="10"
            placeholder="enter your project/jobs description" class="input"></textarea>
        <input type="submit" value="send job" name="send" class="btn">
    </form>
</section>